@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #f7f7f7;
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
}

button,
input {
  font: inherit;
}

.safe-font {
  font-family: samarkan, Arial, sans-serif;
}

@font-face {
  font-family: samarkan;
  src: url("/fonts/sam.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
